*{
	margin: 0;
}
html, body {
	height: 100%;
	background-color: #F5F5F5;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #E9601A;
	font-weight: normal;
}

#bandeau{
	width: 100%;
	height: 58px;
	background-color: #F15E0C;
	text-align: center;
}

#wrapper{ /*div englobant le header et le body, permettant de coller le footer en bas
ne pas modifier les valeurs*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -66px; /* 66px=hauteur du footer*/
}

#menuGauche{
	width: 150px;
	height: 100%;
	background-color: #868686;
	border-bottom-color: #F15E0C;
	border-bottom-style: solid;
	border-bottom-width: medium;
}

#menu{
	background-color: #868686;
	border-bottom-color: #F15E0C;
	border-bottom-style: solid;
	border-bottom-width: medium;
}

#menu ul{
	list-style-type: none;
	padding: 5px;
	margin-top: 0;
}

#menu li{
	display: inline;
	margin-right: 15px;
	margin-left: 15px;
}

#menu a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #F5F5F5;
	font-weight: bold;
	text-decoration: none;
}

#menu a:hover{
	text-decoration: underline;
}

#corps{
	margin : 150px;
	position: relative;
}

#feedbackPanel{
	margin: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	border: thin dotted #E9601A;
}
 	
#pied{
	background-color: #F5F5F5;
	width: 100%;
	height: 66px;
	position: absolute;
	text-align: center;
}

